<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mready.picker">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application>

        <activity
            android:name=".PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>
