<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mready.picker">

    <application>
        <activity
            android:name=".PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
