<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mready.picker">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application>

        <activity
            android:name=".PhotoPickerActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="net.mready.picker.FileProvider"
            android:authorities="net.mready.photopicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

    </application>

</manifest>
